<div class="col-xs-12">

  <div class="col-xs-6 col-xs-offset-3">
  <div class="row" style="padding-top:20px;">
  <h1 class="oswald_font" style="color:dddddd;"> <%= @art_work.name %></h1>
   <%= image_tag(@art_work.image, :class => 'img-rounded thumbnail img-responsive') %> 
  <div class="row well white" style="text-align:center;">
  <%= link_to "Back to Art Work Index", art_works_path, :class => "btn btn-default center" %> 
  </div>
</div>

</div>

