@import "bootstrap";

@import url(http://fonts.googleapis.com/css?family=Quicksand);

.quicksand_font {
font-family: 'Quicksand', sans-serif;
}

.my_red {
 color: #cc3333;
}

.well.white {
background-color: #ffffff;
}

